body {
    font-family: 'Montserrat', sans-serif; ;
}
#title {
    background-color: #ff4c68;
    color: floralwhite;
}
.container-fluid {
    padding: 3% 15%;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;

}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: 900;
}

.nav-item{
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}


/* Download Button */

.download-button{
    margin: 5% 3% 5% 0;
}

/* Title imahge */

.title-image {
    width: 60%;
    margin-left: 40px;
    transform: rotate(25deg);
}


/* Feature area */

#features {
    padding : 2% 15%;

}

.feature-box {
    text-align: center;
    padding: 6%;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

p {
    color: #8f8f8f;
    padding: 0 15%;
}
.fea-icon{
    font-size: 5rem;
    padding-bottom: 10px;
    color: #f39aa8;
}

.fea-icon:hover {
    color:  #ff4c68;
}

/* Testimonials */

#testimonials {
    padding: 1% 10% 3% 10%;
    font-family: 'Montserrat', sans-serif;
    color: floralwhite;
    background-color: #f39aa8;
    text-align: center;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    padding:2% 20% 3% 20%;
    line-height: 3rem;
    
}

.testimonial-img {
    width: 20%;
    border-radius: 100%;
}

.testimonial-detail {
    display: block;
    font-weight: 600;
    padding-top: 1%;
    
}

#press {
    background-color: #f39aa8;
    text-align: center;
    padding: 0 10%;
}

.press-img {
    width: 10vw;
    margin: 1%;
  
}